.ext-hideButton {
    font-size: 14pt !important;
    color: #999 !important;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.ext-hideButton:hover {
    color: #666;
}

.song-form-wrapper {
    margin-top: 40px;
}

.fancy-input-wrapper {
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.button-row {
    width: 60%;
    margin: 25px auto;
}

.button-left {
    float: left;
}

.button-right {
    float: right;
}

.title-row {
    height: 150px;
    line-height: 150px;
    display: table;
    width: 100%;
}

.song-header-title {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
}

.song-header-title-wrapper {
    min-height: 150px;
    width: 75%;
    display: inline-block;
    float: right;
}

.song-header-art-wrapper {
    width: 23%;
    display: inline-block;
    float: left;
}

.input-label {
    width: 20%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68px;
    background-color: #F15B22;
}

.input-row {
    margin-bottom: 10px;
    border: 1px solid #464646;
}

.input-input {
    width: 80%;
    float: left;
}

.input-label-text {
    color: white;
    font-size: 14pt;
    margin: 0 auto;
    max-width: 50%;
}

.input-input-input {
    width: 100%;
    background-color: transparent;
    font-size: 17px;
    color: rgb(34, 34, 34);
    font-family: inherit;
    box-shadow: none;
    padding: 20px 10px;
    border-image: initial;
    transition: all 0.2s linear 0s;
    outline: none !important;
}

.error-message {
    padding: 0 10%;
}

.error-message-text {
    color: red;
}
