 .ext-hideButton{
    font-size: 14pt !important;
    color: #999 !important;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.ext-hideButton:hover{
    color: #666;
}

.song-form-wrapper{
    margin-top: 40px;
}